<div class="card mt-3" style="width: 18rem;" (click)="showPreview(storyInfo)">
    <img src="image\bubble-tea-anime-kgi3jc908rd4pise(1).jpg" class="card-img-top" alt="...">
    <div class="card-body mt-lg-0 pt-1 ">
      <h6 class="card-title mt-lg-0 ">{{storyInfo && storyInfo.title}}</h6>
    </div>
</div>

<div *ngIf="selectedStory === storyInfo" class="card-preview">
    <div class="preview active d-flex">
        <div class="col gemba preview-image-dev">
            <img src="image\bubble-tea-anime-kgi3jc908rd4pise(1).jpg" alt="" class="preview-image">
        </div>
        <div class="col gemba preview-desc-dev">
            <i class="bi bi-x-circle close-icon" (click)="hidePreview()"></i> 
            <h3 class="mb-lg-3">Bibi with a boba </h3>
            <span><small class="preview-NoParts-text"><i class="bi-list  me-1 preview-NoParts-text "></i>20 Parts</small></span>
            <button type="button" class="btn btn-success ms-lg-3">Complete</button>
            <button type="button" class="btn btn-danger ms-lg-1">Comedy</button>
            <div class="btn-group mt-lg-2">
                <button type="button" class="btn btn-secondary btn-lg mt-3"><i class="bi bi-book me-3"></i>Start reading</button>
                <button type="button" class="btn btn-secondary btn-lg mt-3 ms-1"><i class="bi bi-plus-square"></i></button>
            </div>
            <div class="preview-para mt-lg-3">
                <p class="preview-p mt-lg-5">{{selectedStory?.description}}</p>
            </div>
            <div class="de-mortails mt-lg-4">
                <h5 class="mt-lg-3 me-2">More details<i class="bi-chevron-right align-icon ms-3"></i></h5>
            </div>
        </div>
    </div>
</div>
