*{
    padding: 0;
    margin: 0; 
}

.container {
    margin-top:5%;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Form box styling */
.form-box {
    margin-top:20%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: transform 0.8s ease;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

/* .form-box:hover{
    transform: rotate(-45deg); 
    transition: transform 0.8s ease;
} */
.form-box h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

/* Button styles */
.btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* Text for 'or' */
h6 {
    margin: 15px 0;
    font-size: 0.9rem;
    color: #888;
}

/* Forgot password link */
a {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Registration link */
.regi-link p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

.regi-link a {
    color: #007bff;
    text-decoration: none;
}

.regi-link a:hover {
    text-decoration: underline;
}
