<header class="p-3 text-bg mt-0">
  <div class="container-fluid mt-0">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets\image\Screenshot 2024-10-30 120821(12) (2).png" style="height: 88px;" alt="LoGlo">
      </a>

      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false">
          Browse
        </button>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item" href="#">Create a new storie</a></li>
          <li><a class="dropdown-item" href="#">My stories</a></li>
        </ul>
      </div>

      <form class="col-12 col-lg-7 mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control text-bg" placeholder="Search..." aria-label="Search">
      </form>

      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false">
          Write
        </button>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item" href="#">Create a new storie</a></li>
          <li><a class="dropdown-item" href="#">My stories</a></li>
        </ul>
      </div>

      <div class="text-end">
        <button [routerLink]="'/login'" type="button" class="btn btn-outline-white me-2">Login</button>
        <button type="button" class="btn btn-close-white">Sign-up</button>
      </div>
    </div>
    <hr class="mt-0">
  </div>

</header>