<div class="container">
    <div class="row pt-5">
        <div class="col pt-4 ms-3 ps-lg-4">
            <h1 class="custom-primary custom-h1">Hi, we are LoGlo<span class="span-dot">.</span></h1>
            <h4 class="custom-h4 mt-5">The world's best storytelling community</h4>
            <p class="custom-p mt-4 ">Home to people who like to share their imagination with others through original stories, LoGlo has democratized storytelling for a new generation of diverse Gen Z writers and their fans</p>

            <div class="text-start mt-lg-5">
                <button [routerLink]="'/sign-up'" type="button" class="btn btn-primary me-lg-3">start raeding</button>
                <button [routerLink]="'/sign-up'" type="button" class="btn btn-primary">start writing</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>