<div class="container">
    <div class="form-box">
        <a [routerLink]="'/login'" class="back-link"> &lt; Back to all login options</a>
        
        <form action="#">
            <div class="input-box">
                <label for="email">Email or username</label>
                <input type="text" id="email" placeholder="Email or username" />
            </div>
            
            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password" />
                <a href="#" class="show-password">Show</a>
            </div>
            
            <button type="submit" class="btn-login">Log in</button>
            
            <a href="#" class="forgot-password">Forgot password?</a>
        </form>
    </div>
</div>
